.container {
    display: flex;
    justify-content: center;
   
    margin-top: 160px;
    margin-bottom: 150px;
  }
  
  .shoe-image {
    margin-right: 20px;
    width: 400px;
    height: 400px;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  
  p {
    font-size: 38px;
    margin: 10px 0;
    text-align: center;
  }
  
  .order-button {
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 25px;
    margin: 10px;
    padding: 20px 40px;
    text-align: center;
  }
  
  .order-button:hover {
    background-color: gray;
  }

  .goback-button {
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 13px;
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
  }

  .goback-button:hover {
    background-color: gray;
  }
  